$shadow-box: 0 1px 4px rgba(0, 0, 0, 0.2);
$main-color: rgba(251, 251, 255, 1);
$main-text-color: rgba(33, 38, 38, 1);
$border-radius: 12px;
$border: 1px solid rgba(229, 229, 242, 0.64);

$StatusGreen: rgba(7, 148, 85, 1);
$StatusRed: rgba(218, 2, 42, 1);
$StatusOrange: rgb(247, 200, 59);
$MainBlue: rgba(27, 62, 215, 1);
